@charset "utf-8";

#header {
  background-image: url(../img/20.jpg);
  
}

.blog-background {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: 1s ease opacity;
    -moz-transition: 1s ease opacity;
    -ms-transition: 1s ease opacity;
    -o-transition: 1s ease opacity;
    transition: 1s ease opacity;
}

#mainheadicon {
  
}

footer {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: .625rem;
  padding-left: .625rem;
  /*max-width: 44.375rem;*/
  width: 944px;
  background-color: black;
  color: white;
  clear: both;
}



