.flow-list {
    width: 100px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10;
}

/*
.flow-top {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.flow-top a {
    display: block;
    width: 90px;
    height: 33px;
    background-color: #e33043;
    padding-top: 57px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-position: center 8px;
    cursor: pointer;
    text-decoration: none;
    color: #fff
}
*/